**This Is The prototype code for our Neural Network code**

***its coded in python using tensor flow in jupyter notebook to maintain data integrity***

Can be put into a python file, but needs lots of setup on the machine.

In [16]:
#install all of these dependencies, 
#tensorflow however required me to change some paths in my windows machine

import tensorflow as tf
import pandas as pd
import keras
from keras.utils import FeatureSpace
import random

#read in dataframe from the cleaned datafile
place_df = pd.read_json('Hango.Places.json')

#where Nhu's subtype coding will go

place_df.rename(columns={'_id': 'place_id'}, inplace=True)

place_df['place_id'] = place_df['place_id'].apply(lambda x: x['$oid'])

place_df.head()

,place_id,name,lat,lon,address,main_type,sub_types,rating,rating_amount,age,price,weblink
0,65c7c805d20df83fcf08aa6b,The Great White Hut,34.150018,-118.256291,"121 W California Ave, Glendale",Food,"[restaurant, food]",4.2,818,N,1,https://www.google.com/maps/place/?q=place_id:...
1,65c7c805d20df83fcf08aa6c,Chick-fil-A,34.049347,-118.259377,"660 S Figueroa St, Los Angeles",Food,"[restaurant, food]",4.2,1840,N,1,https://www.google.com/maps/place/?q=place_id:...
2,65c7c805d20df83fcf08aa6d,Melrose Food Co - by CloudKitchens,34.082243,-118.309399,"615 N Western Ave, Los Angeles",Food,"[restaurant, food]",4.5,133,N,2,https://www.google.com/maps/place/?q=place_id:...
3,65c7c805d20df83fcf08aa6e,Taco Bell,34.003267,-118.406905,"4416 Sepulveda Blvd, Culver City",Food,"[meal_takeaway, restaurant, food]",3.9,618,N,1,https://www.google.com/maps/place/?q=place_id:...
4,65c7c805d20df83fcf08aa6f,Grand Food Depot,34.014740,-118.278774,"358 W 38th St, Los Angeles",Food,"[restaurant, food]",4.6,258,N,2,https://www.google.com/maps/place/?q=place_id:...

In [17]:
import pandas as pd
# Get unique subtypes
unique_subtypes = set(subtype for sublist in place_df['sub_types'] for subtype in sublist)

# Create a DataFrame with one-hot encoding columns for subtypes
subtype_df = pd.DataFrame({subtype: place_df['sub_types'].apply(lambda x: 1 if subtype in x else 0) for subtype in unique_subtypes})

# Concatenate the original DataFrame with the new subtype DataFrame
place_df = pd.concat([place_df, subtype_df], axis=1)

# Apply one-hot encoding to 'main_type' column
place_df = pd.get_dummies(place_df, columns=['main_type'], prefix='main_type')

# Drop the original 'sub_types' column if needed
place_df = place_df.drop('sub_types', axis=1)
#place_df = place_df.drop('main_type', axis=1)

#place_df['age'] = place_df_features['age'].map({'Y': 1, 'N': 0})

# Display the resulting DataFrame
place_df.head()
place_df.shape
print(place_df.columns)

Index(['place_id', 'name', 'lat', 'lon', 'address', 'rating', 'rating_amount',
       'age', 'price', 'weblink',
       ...
       'trainers', 'videos_&_video_game_rental', 'diners', 'ramen',
       'main_type_Drinks', 'main_type_Entertainment', 'main_type_Food',
       'main_type_Museum/Art', 'main_type_Nature/Recreation',
       'main_type_Nightlife'],
      dtype='object', length=372)

userdata ={
  "_id": {
    "$oid": "6567dcefba91df16f20f718d"
  },
  "username": "john_doe",
  "full_name": "John Doe",
  "email": "john@example.com",
  "age": 30,
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "state": "CA",
    "zip_code": "12345",
    "country": "USA"
  }
}

#This is a function that builds fake reviews.
#We have no data due to a cold start so we need to create artificial feedback
def generateFakeReviews(id,age):
    
    reviewTable = pd.DataFrame()

    #This chooses 100 random places to give positive implicit feedback
    #Put into a temporary table

    #Change k to change amount
    positive_choices = random.sample(place_df['place_id'].tolist(), k=50)
    positive_reviews = [{'user_id': id, 'u_age': age, 'place': place, 'feedback': 1} for place in positive_choices]
    
    #This chooses 75 random places to give negative implicit feedback
    #Put into a temporary table

    #Change k to change amount
    negative_choices = random.sample(place_df['place_id'].tolist(), k=50)
    negative_reviews = [{'user_id': id, 'u_age': age, 'place': place, 'feedback': 0} for place in negative_choices]
    
    #append both to the temporary review table and return it
    reviewTable = reviewTable.append(positive_reviews, ignore_index=True)
    reviewTable = reviewTable.append(negative_reviews, ignore_index=True)

    return reviewTable

# Example usage
#age = 25 Need to figure out how this can help in content based filtering

#temp user id for programming and testing
uid = '6567dcefba91df16f20f718d'

#generate the fake review table
#keep age in it for now
generated_reviews = generateFakeReviews(id=uid, age=25)

generated_reviews.head()

In [18]:
from pymongo import MongoClient
import pandas as pd

userdata ={
  "_id": {
    "$oid": "6567dcefba91df16f20f718d"
  },
  "username": "john_doe",
  "full_name": "John Doe",
  "email": "john@example.com",
  "age": 30,
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "state": "CA",
    "zip_code": "12345",
    "country": "USA"
  }
}

uid = '6568cbef4a9658311b3ee704'


connection_string = "mongodb+srv://hangodb:hangodb@cluster0.phdgtft.mongodb.net/"
dbname = "Hango"
collection_name = "ratings"

client = MongoClient(connection_string)
db = client[dbname]

collection = db[collection_name]
#reviewTable = pd.DataFrame()

query = {'user_id': uid}

review_table = list(collection.find(query))

generated_reviews = pd.DataFrame(review_table)

print(generated_reviews)

                         _id                  place_id  \
0   65d7c81af96a790754860479  65c7cd4d7f987a416ea45ab1
1   65d7c7e1f96a790754850e65  65c7cd617f987a416ea45c8b
2   65d7c795f96a79075483b907  65c7cd627f987a416ea45c98
3   65d7c7a7f96a790754841284  65c7cd637f987a416ea45ca7
4   65d7c7bff96a790754847da4  65c7cd757f987a416ea45e6c
5   65d7c7abf96a790754842452  65c7cd767f987a416ea45e71
6   65d7c833f96a7907548675e5  65c7cd767f987a416ea45e85
7   65d7c48df96a79075475433f  65c7cd887f987a416ea46035
8   65d7c790f96a790754839e3d  65c7cd9a7f987a416ea461f5
9   65d7c826f96a790754863ecf  65c7cd9b7f987a416ea461f9
10  65d7c82af96a790754864fee  65c7cd9b7f987a416ea46206
11  65d7c79bf96a79075483d6d9  65c7cdad7f987a416ea463b8
12  65d7c7fdf96a79075485890e  65c7cdae7f987a416ea463c5
13  65d7c7c7f96a790754849d21  65c7cdae7f987a416ea463c6
14  65d7c7d4f96a79075484d829  65c7cdaf7f987a416ea463d6
15  65d7c7bdf96a790754847459  65c7cdaf7f987a416ea463d7
16  65d7c7d7f96a79075484e129  65c7cdaf7f987a416ea463d9
17  65d7c805f96a79075485a73e  65cbbda0e88f8c2f795c975e
18  65d7c80af96a79075485be30  65cbc26ac72cccdf7a645431
19  65d7c7e8f96a790754852c3d  65cbc26ac72cccdf7a645432
20  65d7c7cdf96a79075484b56d  65cbc26ac72cccdf7a645434
21  65d7c798f96a79075483c8e2  65cbc26bc72cccdf7a645440
22  65d7c7eef96a790754854787  65cbc26bc72cccdf7a645441
23  65d7c7e6f96a7907548523b4  65cbc26bc72cccdf7a645445
24  65d7c7b5f96a790754845493  65cbc26bc72cccdf7a64544b
25  65d7c815f96a79075485eb4f  65cbc26bc72cccdf7a64544d
26  65d7c7bbf96a790754846c34  65cbc27dc72cccdf7a645611
27  65d7c81ef96a7907548616e0  65cbc27dc72cccdf7a64561a
28  65d7c7d3f96a79075484cf99  65cbc27dc72cccdf7a645622
29  65d7c82df96a790754865d39  65cbc27ec72cccdf7a64562a
30  65d7c7eaf96a7907548537b1  65cbc27ec72cccdf7a64562c
31  65d7c817f96a79075485f4cc  65cbc27ec72cccdf7a64562e
32  65d7c7b2f96a79075484458e  65cbc27ec72cccdf7a645630
33  65d7c7f1f96a7907548552b5  65cbc2b5c72cccdf7a645bea
34  65d7c7c1f96a79075484876e  65cbc2b5c72cccdf7a645bee
35  65d7c812f96a79075485e142  65cbc2b5c72cccdf7a645bf5
36  65d7c807f96a79075485b02c  65cbc2b6c72cccdf7a645bf7
37  65d7c82ff96a7907548667bc  65cbc2b6c72cccdf7a645c00
38  65d7c7dcf96a79075484f823  65cbc2b6c72cccdf7a645c0f

                     user_id  feedback               timestamp
0   6568cbef4a9658311b3ee704         0 2024-02-22 22:18:01.882
1   6568cbef4a9658311b3ee704         1 2024-02-22 22:17:04.611
2   6568cbef4a9658311b3ee704         1 2024-02-22 22:15:48.824
3   6568cbef4a9658311b3ee704         1 2024-02-22 22:16:06.681
4   6568cbef4a9658311b3ee704         1 2024-02-22 22:16:31.071
5   6568cbef4a9658311b3ee704         0 2024-02-22 22:16:10.772
6   6568cbef4a9658311b3ee704         1 2024-02-22 22:18:26.407
7   6568cbef4a9658311b3ee704         0 2024-02-22 22:02:52.570
8   6568cbef4a9658311b3ee704         1 2024-02-22 22:15:43.720
9   6568cbef4a9658311b3ee704         1 2024-02-22 22:18:14.322
10  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:18.339
11  6568cbef4a9658311b3ee704         0 2024-02-22 22:15:55.262
12  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:33.244
13  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:38.485
14  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:52.380
15  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:28.882
16  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:54.402
17  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:40.504
18  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:45.910
19  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:11.479
20  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:44.777
21  6568cbef4a9658311b3ee704         0 2024-02-22 22:15:52.110
22  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:17.690
23  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:09.415
24  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:21.304
25  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:56.558
26  6568cbef4a9658311b3ee704         1 2024-02-22 22:16:26.727
27  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:05.948
28  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:50.417
29  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:21.300
30  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:14.039
31  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:58.831
32  6568cbef4a9658311b3ee704         1 2024-02-22 22:16:18.054
33  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:20.385
34  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:33.169
35  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:54.097
36  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:42.589
37  6568cbef4a9658311b3ee704         0 2024-02-22 22:18:23.079
38  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:59.719

In [23]:
#merge the two dataframes based on the place id to generate factor matrix
#drop features that are irrelevant to the model (distinction)

#merged_df related to the ratings

merged_df = pd.merge(generated_reviews, place_df, left_on='place_id', right_on='place_id', how='inner')
merged_df = merged_df.drop(columns=['_id','user_id','place_id','name', 'address', 'weblink','price','age','timestamp'])

# Display the combined dataset
print(merged_df.head())
print(merged_df.size)

print(place_df.head)

   feedback        lat         lon  rating  rating_amount  pet_sitting  \
0         0  33.789649 -118.216220     3.9            484            0
1         1  33.766751 -118.194775     4.9            150            0
2         1  33.771852 -118.145571     4.7            467            0
3         1  33.811592 -118.115888     4.6             87            0
4         1  33.785604 -118.173414     4.6             38            0

   barre_classes  food  gluten-free  tobacco_shops  ...  trainers  \
0              0     1            0              0  ...         0
1              0     1            0              0  ...         0
2              0     1            0              0  ...         0
3              0     1            0              0  ...         0
4              0     0            0              0  ...         0

   videos_&_video_game_rental  diners  ramen  main_type_Drinks  \
0                           0       0      0                 0
1                           0       0      0                 1
2                           0       0      0                 1
3                           0       0      0                 1
4                           0       0      0                 0

   main_type_Entertainment  main_type_Food  main_type_Museum/Art  \
0                        0               1                     0
1                        0               0                     0
2                        0               0                     0
3                        0               0                     0
4                        0               0                     1

   main_type_Nature/Recreation  main_type_Nightlife
0                            0                    0
1                            0                    0
2                            0                    0
3                            0                    0
4                            0                    0

[5 rows x 367 columns]
14313
<bound method NDFrame.head of                       place_id                                           name  \
0     65c7c805d20df83fcf08aa6b                            The Great White Hut
1     65c7c805d20df83fcf08aa6c                                    Chick-fil-A
2     65c7c805d20df83fcf08aa6d             Melrose Food Co - by CloudKitchens
3     65c7c805d20df83fcf08aa6e                                      Taco Bell
4     65c7c805d20df83fcf08aa6f                               Grand Food Depot
...                        ...                                            ...
5049  65cbe9994d60dd8c13db5301                    Whitestone Restaurant & Bar
5050  65cbe9994d60dd8c13db5302                         The Shwack Beach Grill
5051  65cbe9994d60dd8c13db5303  The Original Patsy's Irish Pub, Laguna Niguel
5052  65cbe9994d60dd8c13db5306                     Scarlet Kitchen and Lounge
5053  65cbe9994d60dd8c13db5307                   El Cortez Mexican Restaurant

            lat         lon                                     address  \
0     34.150018 -118.256291              121 W California Ave, Glendale
1     34.049347 -118.259377              660 S Figueroa St, Los Angeles
2     34.082243 -118.309399              615 N Western Ave, Los Angeles
3     34.003267 -118.406905            4416 Sepulveda Blvd, Culver City
4     34.014740 -118.278774                  358 W 38th St, Los Angeles
...         ...         ...                                         ...
5049  33.467364 -117.695068  34212 Pacific Coast Hwy Unit A, Dana Point
5050  33.465381 -117.702025             24502 Del Prado Ave, Dana Point
5051  33.541835 -117.692479         28971 Golden Lantern, Laguna Niguel
5052  33.522121 -117.617840      30865 Gateway Pl, Rancho Mission Viejo
5053  33.542044 -117.692525    28971 Golden Lantern a101, Laguna Niguel

      rating  rating_amount age price  \
0        4.2            818   N     1
1        4.2           1840   N     1
2        4.5            133   N     2
3        3.9            618   N     1
4        4.6            258   N     2
...      ...            ...  ..   ...
5049     4.4            135   Y     3
5050     4.5           1447   Y     1
5051     4.3            451   Y     2
5052     4.1            109   Y     2
5053     4.3            397   Y     2

                                                weblink  ...  trainers  \
0     https://www.google.com/maps/place/?q=place_id:...  ...         0
1     https://www.google.com/maps/place/?q=place_id:...  ...         0
2     https://www.google.com/maps/place/?q=place_id:...  ...         0
3     https://www.google.com/maps/place/?q=place_id:...  ...         0
4     https://www.google.com/maps/place/?q=place_id:...  ...         0
...                                                 ...  ...       ...
5049  https://www.google.com/maps/place/?q=place_id:...  ...         0
5050  https://www.google.com/maps/place/?q=place_id:...  ...         0
5051  https://www.google.com/maps/place/?q=place_id:...  ...         0
5052  https://www.google.com/maps/place/?q=place_id:...  ...         0
5053  https://www.google.com/maps/place/?q=place_id:...  ...         0

      videos_&_video_game_rental  diners  ramen  main_type_Drinks  \
0                              0       0      0                 0
1                              0       0      0                 0
2                              0       0      0                 0
3                              0       0      0                 0
4                              0       0      0                 0
...                          ...     ...    ...               ...
5049                           0       0      0                 0
5050                           0       0      0                 0
5051                           0       0      0                 0
5052                           0       0      0                 0
5053                           0       0      0                 0

      main_type_Entertainment  main_type_Food  main_type_Museum/Art  \
0                           0               1                     0
1                           0               1                     0
2                           0               1                     0
3                           0               1                     0
4                           0               1                     0
...                       ...             ...                   ...
5049                        0               0                     0
5050                        0               0                     0
5051                        0               0                     0
5052                        0               0                     0
5053                        0               0                     0

      main_type_Nature/Recreation  main_type_Nightlife
0                               0                    0
1                               0                    0
2                               0                    0
3                               0                    0
4                               0                    0
...                           ...                  ...
5049                            0                    1
5050                            0                    1
5051                            0                    1
5052                            0                    1
5053                            0                    1

[5054 rows x 372 columns]>

In [24]:
from sklearn.model_selection import train_test_split

# Extract features (X) and target variable (y)
X = merged_df.drop(['feedback'], axis=1)
y = merged_df['feedback']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("Train set shape:", X_train.shape, y_train.shape)
print("Test set shape:", X_test.shape, y_test.shape)

Train set shape: (31, 366) (31,)
Test set shape: (8, 366) (8,)

In [26]:
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report

# Standardize features (optional but often recommended for neural networks)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),  # Additional layer
    tf.keras.layers.Dense(8, activation='relu'),   # Additional layer
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model on the training set
model.fit(X_train_scaled, y_train, epochs=20, batch_size=32, validation_split=0.2)

# Evaluate the model on the test set
y_pred_proba = model.predict(X_test_scaled)
y_pred = np.round(y_pred_proba)

# Convert predictions to binary (0 or 1)
y_pred = y_pred.flatten().astype(int)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Display additional metrics if needed
print("Classification Report:\n", classification_report(y_test, y_pred))

Epoch 1/20
1/1 [==============================] - 2s 2s/step - loss: 0.6741 - accuracy: 0.6250 - val_loss: 0.6681 - val_accuracy: 0.5714
Epoch 2/20
1/1 [==============================] - 0s 68ms/step - loss: 0.6256 - accuracy: 0.9583 - val_loss: 0.6478 - val_accuracy: 0.8571
Epoch 3/20
1/1 [==============================] - 0s 64ms/step - loss: 0.5890 - accuracy: 1.0000 - val_loss: 0.6300 - val_accuracy: 0.8571
Epoch 4/20
1/1 [==============================] - 0s 63ms/step - loss: 0.5627 - accuracy: 0.9583 - val_loss: 0.6117 - val_accuracy: 0.8571
Epoch 5/20
1/1 [==============================] - 0s 67ms/step - loss: 0.5369 - accuracy: 0.9583 - val_loss: 0.5925 - val_accuracy: 0.8571
Epoch 6/20
1/1 [==============================] - 0s 64ms/step - loss: 0.5107 - accuracy: 0.9583 - val_loss: 0.5744 - val_accuracy: 0.8571
Epoch 7/20
1/1 [==============================] - 0s 60ms/step - loss: 0.4840 - accuracy: 0.9583 - val_loss: 0.5584 - val_accuracy: 0.8571
Epoch 8/20
1/1 [==============================] - 0s 65ms/step - loss: 0.4565 - accuracy: 0.9583 - val_loss: 0.5421 - val_accuracy: 0.8571
Epoch 9/20
1/1 [==============================] - 0s 68ms/step - loss: 0.4288 - accuracy: 0.9583 - val_loss: 0.5260 - val_accuracy: 0.8571
Epoch 10/20
1/1 [==============================] - 0s 70ms/step - loss: 0.4012 - accuracy: 0.9583 - val_loss: 0.5109 - val_accuracy: 0.8571
Epoch 11/20
1/1 [==============================] - 0s 63ms/step - loss: 0.3740 - accuracy: 0.9583 - val_loss: 0.4972 - val_accuracy: 0.8571
Epoch 12/20
1/1 [==============================] - 0s 67ms/step - loss: 0.3474 - accuracy: 0.9583 - val_loss: 0.4831 - val_accuracy: 0.8571
Epoch 13/20
1/1 [==============================] - 0s 64ms/step - loss: 0.3215 - accuracy: 0.9583 - val_loss: 0.4686 - val_accuracy: 0.8571
Epoch 14/20
1/1 [==============================] - 0s 65ms/step - loss: 0.2963 - accuracy: 0.9583 - val_loss: 0.4540 - val_accuracy: 0.8571
Epoch 15/20
1/1 [==============================] - 0s 63ms/step - loss: 0.2719 - accuracy: 0.9583 - val_loss: 0.4410 - val_accuracy: 0.8571
Epoch 16/20
1/1 [==============================] - 0s 63ms/step - loss: 0.2483 - accuracy: 0.9583 - val_loss: 0.4292 - val_accuracy: 0.8571
Epoch 17/20
1/1 [==============================] - 0s 65ms/step - loss: 0.2260 - accuracy: 0.9583 - val_loss: 0.4195 - val_accuracy: 0.8571
Epoch 18/20
1/1 [==============================] - 0s 65ms/step - loss: 0.2051 - accuracy: 0.9583 - val_loss: 0.4128 - val_accuracy: 0.8571
Epoch 19/20
1/1 [==============================] - 0s 66ms/step - loss: 0.1851 - accuracy: 1.0000 - val_loss: 0.4084 - val_accuracy: 0.8571
Epoch 20/20
1/1 [==============================] - 0s 63ms/step - loss: 0.1665 - accuracy: 1.0000 - val_loss: 0.4062 - val_accuracy: 0.8571
1/1 [==============================] - 0s 135ms/step
Accuracy: 0.75
Classification Report:
               precision    recall  f1-score   support

           0       0.60      1.00      0.75         3
           1       1.00      0.60      0.75         5

    accuracy                           0.75         8
   macro avg       0.80      0.80      0.75         8
weighted avg       0.85      0.75      0.75         8

In [29]:
#It would go here:

# Drop unnecessary columns from place_df
place_df_features = place_df.drop(columns=['address', 'weblink', 'price', 'age'])

#STandardize here with drop
# Standardize features
place_df_features_scaled = scaler.transform(place_df_features.drop(columns=['place_id','name']))

# Use the trained model to predict acceptance probabilities
acceptance_probabilities = model.predict(place_df_features_scaled)

# Add the predicted probabilities to place_df_features
place_df_features['acceptance_probability'] = acceptance_probabilities

# Sort by acceptance probability in descending order
top_locations = place_df_features.sort_values(by='acceptance_probability', ascending=False)

# Display the top locations
print(top_locations[['place_id', 'name', 'acceptance_probability']].tail(500))

158/158 [==============================] - 1s 3ms/step
                      place_id                              name  \
2509  65cbe827cbcec18078a36a9d                            Subway
3748  65cbe856cbcec18078a36f74                          Mollie's
3181  65cbe841cbcec18078a36d3d  Daniel's Bakery and Mexican Food
3090  65cbe83dcbcec18078a36ce2                    Bangkok Palace
3147  65cbe83fcbcec18078a36d1b                   Ice in Paradise
...                        ...                               ...
3456  65cbe84bcbcec18078a36e50                        The Bistro
3895  65cbe85ccbcec18078a37008                         Starbucks
3135  65cbe83fcbcec18078a36d0f                        McDonald's
2491  65cbe827cbcec18078a36a8b                   Jack in the Box
3093  65cbe83dcbcec18078a36ce5                      Tutti Frutti

      acceptance_probability
2509            1.274619e-06
3748            1.274187e-06
3181            1.273822e-06
3090            1.273064e-06
3147            1.265607e-06
...                      ...
3456            2.905894e-07
3895            2.863217e-07
3135            2.832535e-07
2491            2.497940e-07
3093            7.675545e-13

[500 rows x 3 columns]