**This Is The prototype code for our Neural Network code**

***its coded in python using tensor flow in jupyter notebook to maintain data integrity***

Can be put into a python file, but needs lots of setup on the machine.

In [131]:
#install all of these dependencies, 
#tensorflow however required me to change some paths in my windows machine

import tensorflow as tf
import pandas as pd
import keras
import random

#read in dataframe from the cleaned datafile
place_df = pd.read_json('Hango.Places.json')

#Nhu's code to normalize ratings
### get rated matrix for the df ###
# use Bayesian average rating formula to make sure rating isn't inflated (from too little ratings or too much ratings)
C = place_df['rating'].mean()  # get avg rating of all ratings
m = place_df['rating_amount'].quantile(0.9)  # get quantile threshold for rating amount (basically removes the one with too little ratings in calculation)
place_df['weighted_rating'] = ((place_df['rating_amount'] / (place_df['rating_amount'] + m)) * place_df['rating'] + (m / (place_df['rating_amount'] + m)) * C).round(2)
# then drop rating and rating_amount from df
place_df.drop(columns=['rating', 'rating_amount'], inplace=True)

place_df.rename(columns={'_id': 'place_id'}, inplace=True)

place_df['place_id'] = place_df['place_id'].apply(lambda x: x['$oid'])

place_df.head()

,place_id,name,lat,lon,address,main_type,sub_types,age,price,weblink,weighted_rating
0,65c7c805d20df83fcf08aa71,Arby's,33.961186,-118.372191,"913 W Manchester Blvd, Inglewood",Food,"[meal_takeaway, restaurant, food, store]",N,1,https://www.google.com/maps/place/?q=place_id:...,4.17
1,65c7c805d20df83fcf08aa6b,The Great White Hut,34.150018,-118.256291,"121 W California Ave, Glendale",Food,"[restaurant, food]",N,1,https://www.google.com/maps/place/?q=place_id:...,4.09
2,65c7c805d20df83fcf08aa79,Soul Food Shack,33.916093,-118.308708,"1762 W El Segundo Blvd, Gardena",Food,"[restaurant, food]",N,2,https://www.google.com/maps/place/?q=place_id:...,3.99
3,65c7c805d20df83fcf08aa6e,Taco Bell,34.003267,-118.406905,"4416 Sepulveda Blvd, Culver City",Food,"[meal_takeaway, restaurant, food]",N,1,https://www.google.com/maps/place/?q=place_id:...,3.95
4,65c7c806d20df83fcf08aa91,C G Soul Food,33.950173,-118.344280,"1035 Prairie Ave Suite 2, Inglewood",Food,"[restaurant, food]",N,{'$numberDouble': 'NaN'},https://www.google.com/maps/place/?q=place_id:...,3.98

In [132]:
import pandas as pd
# Get unique subtypes
unique_subtypes = set(subtype for sublist in place_df['sub_types'] for subtype in sublist)

# Create a DataFrame with one-hot encoding columns for subtypes
subtype_df = pd.DataFrame({subtype: place_df['sub_types'].apply(lambda x: 1 if subtype in x else 0) for subtype in unique_subtypes})

# Concatenate the original DataFrame with the new subtype DataFrame
place_df = pd.concat([place_df, subtype_df], axis=1)

# Apply one-hot encoding to 'main_type' column
place_df = pd.get_dummies(place_df, columns=['main_type'], prefix='main_type')

# Drop the original 'sub_types' column if needed
place_df = place_df.drop('sub_types', axis=1)
#place_df = place_df.drop('main_type', axis=1)

#place_df['age'] = place_df_features['age'].map({'Y': 1, 'N': 0})

# Display the resulting DataFrame
place_df.head()
place_df.shape
print(place_df.columns)

Index(['place_id', 'name', 'lat', 'lon', 'address', 'age', 'price', 'weblink',
       'weighted_rating', 'Kickboxing',
       ...
       'Bubble Tea', 'Tobacco Shops', 'Fondue', 'Soccer', 'main_type_Drinks',
       'main_type_Entertainment', 'main_type_Food', 'main_type_Museum/Art',
       'main_type_Nature/Recreation', 'main_type_Nightlife'],
      dtype='object', length=380)

userdata ={
  "_id": {
    "$oid": "6567dcefba91df16f20f718d"
  },
  "username": "john_doe",
  "full_name": "John Doe",
  "email": "john@example.com",
  "age": 30,
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "state": "CA",
    "zip_code": "12345",
    "country": "USA"
  }
}

#This is a function that builds fake reviews.
#We have no data due to a cold start so we need to create artificial feedback
def generateFakeReviews(id,age):
    
    reviewTable = pd.DataFrame()

    #This chooses 100 random places to give positive implicit feedback
    #Put into a temporary table

    #Change k to change amount
    positive_choices = random.sample(place_df['place_id'].tolist(), k=50)
    positive_reviews = [{'user_id': id, 'u_age': age, 'place': place, 'feedback': 1} for place in positive_choices]
    
    #This chooses 75 random places to give negative implicit feedback
    #Put into a temporary table

    #Change k to change amount
    negative_choices = random.sample(place_df['place_id'].tolist(), k=50)
    negative_reviews = [{'user_id': id, 'u_age': age, 'place': place, 'feedback': 0} for place in negative_choices]
    
    #append both to the temporary review table and return it
    reviewTable = reviewTable.append(positive_reviews, ignore_index=True)
    reviewTable = reviewTable.append(negative_reviews, ignore_index=True)

    return reviewTable

# Example usage
#age = 25 Need to figure out how this can help in content based filtering

#temp user id for programming and testing
uid = '6567dcefba91df16f20f718d'

#generate the fake review table
#keep age in it for now
generated_reviews = generateFakeReviews(id=uid, age=25)

generated_reviews.head()

In [133]:
from pymongo import MongoClient
import pandas as pd

userdata ={
  "_id": {
    "$oid": "6567dcefba91df16f20f718d"
  },
  "username": "john_doe",
  "full_name": "John Doe",
  "email": "john@example.com",
  "age": 30,
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "state": "CA",
    "zip_code": "12345",
    "country": "USA"
  }
}

uid = '6568cbef4a9658311b3ee704'


connection_string = "mongodb+srv://hangodb:hangodb@cluster0.phdgtft.mongodb.net/"
dbname = "Hango"
collection_name = "ratings"

client = MongoClient(connection_string)
db = client[dbname]

collection = db[collection_name]
#reviewTable = pd.DataFrame()

query = {'user_id': uid}

review_table = list(collection.find(query))

generated_reviews = pd.DataFrame(review_table)

print(generated_reviews)

                         _id                  place_id  \
0   65ed070c706e3ddea2d2416a  65c7c805d20df83fcf08aa71
1   65ed019d706e3ddea2b975ba  65c7c805d20df83fcf08aa73
2   65d7c81af96a790754860479  65c7cd4d7f987a416ea45ab1
3   65d7c7e1f96a790754850e65  65c7cd617f987a416ea45c8b
4   65d7c795f96a79075483b907  65c7cd627f987a416ea45c98
5   65d7c7a7f96a790754841284  65c7cd637f987a416ea45ca7
6   65d7c7bff96a790754847da4  65c7cd757f987a416ea45e6c
7   65d7c7abf96a790754842452  65c7cd767f987a416ea45e71
8   65f9fdfbe5db36f2f0539118  65c7cd767f987a416ea45e7a
9   65d7c833f96a7907548675e5  65c7cd767f987a416ea45e85
10  65d7c48df96a79075475433f  65c7cd887f987a416ea46035
11  65d7c790f96a790754839e3d  65c7cd9a7f987a416ea461f5
12  65d7c826f96a790754863ecf  65c7cd9b7f987a416ea461f9
13  65f9ea92ec49120425eb039e  65c7cd9b7f987a416ea46201
14  65d7c82af96a790754864fee  65c7cd9b7f987a416ea46206
15  65d7c79bf96a79075483d6d9  65c7cdad7f987a416ea463b8
16  65d7c7fdf96a79075485890e  65c7cdae7f987a416ea463c5
17  65d7c7c7f96a790754849d21  65c7cdae7f987a416ea463c6
18  65f9ea12ec49120425e8ac24  65c7cdae7f987a416ea463d2
19  65d7c7d4f96a79075484d829  65c7cdaf7f987a416ea463d6
20  65d7c7bdf96a790754847459  65c7cdaf7f987a416ea463d7
21  65d7c7d7f96a79075484e129  65c7cdaf7f987a416ea463d9
22  65d7c805f96a79075485a73e  65cbbda0e88f8c2f795c975e
23  65d7c80af96a79075485be30  65cbc26ac72cccdf7a645431
24  65d7c7e8f96a790754852c3d  65cbc26ac72cccdf7a645432
25  65d7c7cdf96a79075484b56d  65cbc26ac72cccdf7a645434
26  65d7c798f96a79075483c8e2  65cbc26bc72cccdf7a645440
27  65d7c7eef96a790754854787  65cbc26bc72cccdf7a645441
28  65d7c7e6f96a7907548523b4  65cbc26bc72cccdf7a645445
29  65d7c7b5f96a790754845493  65cbc26bc72cccdf7a64544b
30  65d7c815f96a79075485eb4f  65cbc26bc72cccdf7a64544d
31  65ed1b21706e3ddea2301c48  65cbc271c72cccdf7a6454e5
32  65d7c7bbf96a790754846c34  65cbc27dc72cccdf7a645611
33  65d7c81ef96a7907548616e0  65cbc27dc72cccdf7a64561a
34  65d7c7d3f96a79075484cf99  65cbc27dc72cccdf7a645622
35  65f9fe4fe5db36f2f05509c2  65cbc27dc72cccdf7a645627
36  65d7c82df96a790754865d39  65cbc27ec72cccdf7a64562a
37  65d7c7eaf96a7907548537b1  65cbc27ec72cccdf7a64562c
38  65d7c817f96a79075485f4cc  65cbc27ec72cccdf7a64562e
39  65d7c7b2f96a79075484458e  65cbc27ec72cccdf7a645630
40  65f9e977ec49120425e585d6  65cbc29ac72cccdf7a64591f
41  65d7c7f1f96a7907548552b5  65cbc2b5c72cccdf7a645bea
42  65d7c7c1f96a79075484876e  65cbc2b5c72cccdf7a645bee
43  65d7c812f96a79075485e142  65cbc2b5c72cccdf7a645bf5
44  65d7c807f96a79075485b02c  65cbc2b6c72cccdf7a645bf7
45  65d7c82ff96a7907548667bc  65cbc2b6c72cccdf7a645c00
46  65d7c7dcf96a79075484f823  65cbc2b6c72cccdf7a645c0f

                     user_id  feedback               timestamp
0   6568cbef4a9658311b3ee704         1 2024-03-10 01:04:12.704
1   6568cbef4a9658311b3ee704         1 2024-03-10 00:47:27.531
2   6568cbef4a9658311b3ee704         0 2024-02-22 22:18:01.882
3   6568cbef4a9658311b3ee704         1 2024-02-22 22:17:04.611
4   6568cbef4a9658311b3ee704         1 2024-02-22 22:15:48.824
5   6568cbef4a9658311b3ee704         1 2024-02-22 22:16:06.681
6   6568cbef4a9658311b3ee704         1 2024-02-22 22:16:31.071
7   6568cbef4a9658311b3ee704         0 2024-02-22 22:16:10.772
8   6568cbef4a9658311b3ee704         0 2024-03-19 21:04:48.513
9   6568cbef4a9658311b3ee704         1 2024-02-22 22:18:26.407
10  6568cbef4a9658311b3ee704         0 2024-02-22 22:02:52.570
11  6568cbef4a9658311b3ee704         1 2024-02-22 22:15:43.720
12  6568cbef4a9658311b3ee704         1 2024-03-19 19:26:36.961
13  6568cbef4a9658311b3ee704         1 2024-03-19 19:41:59.507
14  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:18.339
15  6568cbef4a9658311b3ee704         0 2024-02-22 22:15:55.262
16  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:33.244
17  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:38.485
18  6568cbef4a9658311b3ee704         0 2024-03-19 19:39:52.095
19  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:52.380
20  6568cbef4a9658311b3ee704         1 2024-03-19 19:32:38.638
21  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:54.402
22  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:40.504
23  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:45.910
24  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:11.479
25  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:44.777
26  6568cbef4a9658311b3ee704         0 2024-02-22 22:15:52.110
27  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:17.690
28  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:09.415
29  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:21.304
30  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:56.558
31  6568cbef4a9658311b3ee704         1 2024-03-10 02:29:52.952
32  6568cbef4a9658311b3ee704         1 2024-02-22 22:16:26.727
33  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:05.948
34  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:50.417
35  6568cbef4a9658311b3ee704         1 2024-03-19 21:06:12.871
36  6568cbef4a9658311b3ee704         1 2024-02-22 22:18:21.300
37  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:14.039
38  6568cbef4a9658311b3ee704         1 2024-02-22 22:17:58.831
39  6568cbef4a9658311b3ee704         1 2024-02-22 22:16:18.054
40  6568cbef4a9658311b3ee704         0 2024-03-19 19:37:17.224
41  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:20.385
42  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:33.169
43  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:54.097
44  6568cbef4a9658311b3ee704         0 2024-02-22 22:17:42.589
45  6568cbef4a9658311b3ee704         0 2024-02-22 22:18:23.079
46  6568cbef4a9658311b3ee704         0 2024-02-22 22:16:59.719

In [134]:
#merge the two dataframes based on the place id to generate factor matrix
#drop features that are irrelevant to the model (distinction)

#merged_df related to the ratings
merged_df = pd.merge(generated_reviews, place_df, left_on='place_id', right_on='place_id', how='inner')
merged_df = merged_df.drop(columns=['_id','user_id','place_id','name', 'address', 'weblink', 'age', 'price','timestamp'])



# Display the combined dataset
print(merged_df.head())
print(merged_df.size)

print(place_df.head)

   feedback        lat         lon  weighted_rating  Kickboxing  Candy Stores  \
0         1  33.961186 -118.372191             4.17           0             0
1         1  33.959148 -118.396021             4.10           0             0
2         0  33.789649 -118.216220             3.96           0             0
3         1  33.766751 -118.194775             4.12           0             0
4         1  33.771852 -118.145571             4.24           0             0

   Macarons  ATV Rentals/Tours  Tapas/Small Plates  Discount Store  ...  \
0         0                  0                   0               0  ...
1         0                  0                   0               0  ...
2         0                  0                   0               0  ...
3         0                  0                   0               0  ...
4         0                  0                   0               0  ...

   Bubble Tea  Tobacco Shops  Fondue  Soccer  main_type_Drinks  \
0           0              0       0       0                 0
1           0              0       0       0                 0
2           0              0       0       0                 0
3           0              0       0       0                 1
4           0              0       0       0                 1

   main_type_Entertainment  main_type_Food  main_type_Museum/Art  \
0                        0               1                     0
1                        0               1                     0
2                        0               1                     0
3                        0               0                     0
4                        0               0                     0

   main_type_Nature/Recreation  main_type_Nightlife
0                            0                    0
1                            0                    0
2                            0                    0
3                            0                    0
4                            0                    0

[5 rows x 375 columns]
17625
<bound method NDFrame.head of                       place_id                                           name  \
0     65c7c805d20df83fcf08aa71                                         Arby's
1     65c7c805d20df83fcf08aa6b                            The Great White Hut
2     65c7c805d20df83fcf08aa79                                Soul Food Shack
3     65c7c805d20df83fcf08aa6e                                      Taco Bell
4     65c7c806d20df83fcf08aa91                                  C G Soul Food
...                        ...                                            ...
5049  65cbe9994d60dd8c13db5301                    Whitestone Restaurant & Bar
5050  65cbe9994d60dd8c13db5302                         The Shwack Beach Grill
5051  65cbe9994d60dd8c13db5303  The Original Patsy's Irish Pub, Laguna Niguel
5052  65cbe9994d60dd8c13db5306                     Scarlet Kitchen and Lounge
5053  65cbe9994d60dd8c13db5307                   El Cortez Mexican Restaurant

            lat         lon                                     address age  \
0     33.961186 -118.372191            913 W Manchester Blvd, Inglewood   N
1     34.150018 -118.256291              121 W California Ave, Glendale   N
2     33.916093 -118.308708             1762 W El Segundo Blvd, Gardena   N
3     34.003267 -118.406905            4416 Sepulveda Blvd, Culver City   N
4     33.950173 -118.344280         1035 Prairie Ave Suite 2, Inglewood   N
...         ...         ...                                         ...  ..
5049  33.467364 -117.695068  34212 Pacific Coast Hwy Unit A, Dana Point   Y
5050  33.465381 -117.702025             24502 Del Prado Ave, Dana Point   Y
5051  33.541835 -117.692479         28971 Golden Lantern, Laguna Niguel   Y
5052  33.522121 -117.617840      30865 Gateway Pl, Rancho Mission Viejo   Y
5053  33.542044 -117.692525    28971 Golden Lantern a101, Laguna Niguel   Y

                         price  \
0                            1
1                            1
2                            2
3                            1
4     {'$numberDouble': 'NaN'}
...                        ...
5049                         3
5050                         1
5051                         2
5052                         2
5053                         2

                                                weblink  weighted_rating  \
0     https://www.google.com/maps/place/?q=place_id:...             4.17
1     https://www.google.com/maps/place/?q=place_id:...             4.09
2     https://www.google.com/maps/place/?q=place_id:...             3.99
3     https://www.google.com/maps/place/?q=place_id:...             3.95
4     https://www.google.com/maps/place/?q=place_id:...             3.98
...                                                 ...              ...
5049  https://www.google.com/maps/place/?q=place_id:...             4.04
5050  https://www.google.com/maps/place/?q=place_id:...             4.31
5051  https://www.google.com/maps/place/?q=place_id:...             4.09
5052  https://www.google.com/maps/place/?q=place_id:...             4.00
5053  https://www.google.com/maps/place/?q=place_id:...             4.09

      Kickboxing  ...  Bubble Tea  Tobacco Shops  Fondue  Soccer  \
0              0  ...           0              0       0       0
1              0  ...           0              0       0       0
2              0  ...           0              0       0       0
3              0  ...           0              0       0       0
4              0  ...           0              0       0       0
...          ...  ...         ...            ...     ...     ...
5049           0  ...           0              0       0       0
5050           0  ...           0              0       0       0
5051           0  ...           0              0       0       0
5052           0  ...           0              0       0       0
5053           0  ...           0              0       0       0

      main_type_Drinks  main_type_Entertainment  main_type_Food  \
0                    0                        0               1
1                    0                        0               1
2                    0                        0               1
3                    0                        0               1
4                    0                        0               1
...                ...                      ...             ...
5049                 0                        0               0
5050                 0                        0               0
5051                 0                        0               0
5052                 0                        0               0
5053                 0                        0               0

      main_type_Museum/Art  main_type_Nature/Recreation  main_type_Nightlife
0                        0                            0                    0
1                        0                            0                    0
2                        0                            0                    0
3                        0                            0                    0
4                        0                            0                    0
...                    ...                          ...                  ...
5049                     0                            0                    1
5050                     0                            0                    1
5051                     0                            0                    1
5052                     0                            0                    1
5053                     0                            0                    1

[5054 rows x 380 columns]>

In [92]:
print(place_df.columns)

Index(['place_id', 'name', 'lat', 'lon', 'address', 'age', 'price', 'weblink',
       'weighted_rating', 'Kickboxing',
       ...
       'Bubble Tea', 'Tobacco Shops', 'Fondue', 'Soccer', 'main_type_Drinks',
       'main_type_Entertainment', 'main_type_Food', 'main_type_Museum/Art',
       'main_type_Nature/Recreation', 'main_type_Nightlife'],
      dtype='object', length=380)

In [135]:
from sklearn.model_selection import train_test_split

# Extract features (X) and target variable (y)
X = merged_df.drop(['feedback'], axis=1)
y = merged_df['feedback']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("Train set shape:", X_train.shape, y_train.shape)
print("Test set shape:", X_test.shape, y_test.shape)

Train set shape: (37, 374) (37,)
Test set shape: (10, 374) (10,)

In [138]:
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report

# Standardize features (optional but often recommended for neural networks)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),  # Additional layer
    tf.keras.layers.Dense(8, activation='relu'),   # Additional layer
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model on the training set
model.fit(X_train_scaled, y_train, epochs=20, batch_size=32, validation_split=0.2)

# Evaluate the model on the test set
y_pred_proba = model.predict(X_test_scaled)
y_pred = np.round(y_pred_proba)

# Convert predictions to binary (0 or 1)
y_pred = y_pred.flatten().astype(int)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Display additional metrics if needed
print("Classification Report:\n", classification_report(y_test, y_pred))

Epoch 1/20
1/1 [==============================] - 1s 1s/step - loss: 0.7145 - accuracy: 0.4483 - val_loss: 0.7129 - val_accuracy: 0.5000
Epoch 2/20
1/1 [==============================] - 0s 34ms/step - loss: 0.6739 - accuracy: 0.6897 - val_loss: 0.7096 - val_accuracy: 0.5000
Epoch 3/20
1/1 [==============================] - 0s 35ms/step - loss: 0.6495 - accuracy: 0.7931 - val_loss: 0.7060 - val_accuracy: 0.6250
Epoch 4/20
1/1 [==============================] - 0s 37ms/step - loss: 0.6283 - accuracy: 0.9310 - val_loss: 0.7030 - val_accuracy: 0.7500
Epoch 5/20
1/1 [==============================] - 0s 37ms/step - loss: 0.6107 - accuracy: 0.9310 - val_loss: 0.6988 - val_accuracy: 0.7500
Epoch 6/20
1/1 [==============================] - 0s 36ms/step - loss: 0.5940 - accuracy: 0.9310 - val_loss: 0.6960 - val_accuracy: 0.7500
Epoch 7/20
1/1 [==============================] - 0s 41ms/step - loss: 0.5775 - accuracy: 0.9310 - val_loss: 0.6935 - val_accuracy: 0.7500
Epoch 8/20
1/1 [==============================] - 0s 41ms/step - loss: 0.5608 - accuracy: 0.9310 - val_loss: 0.6904 - val_accuracy: 0.7500
Epoch 9/20
1/1 [==============================] - 0s 79ms/step - loss: 0.5428 - accuracy: 0.9310 - val_loss: 0.6853 - val_accuracy: 0.7500
Epoch 10/20
1/1 [==============================] - 0s 91ms/step - loss: 0.5231 - accuracy: 0.9655 - val_loss: 0.6795 - val_accuracy: 0.7500
Epoch 11/20
1/1 [==============================] - 0s 68ms/step - loss: 0.5026 - accuracy: 0.9655 - val_loss: 0.6724 - val_accuracy: 0.7500
Epoch 12/20
1/1 [==============================] - 0s 84ms/step - loss: 0.4823 - accuracy: 0.9655 - val_loss: 0.6653 - val_accuracy: 0.7500
Epoch 13/20
1/1 [==============================] - 0s 76ms/step - loss: 0.4620 - accuracy: 0.9655 - val_loss: 0.6572 - val_accuracy: 0.7500
Epoch 14/20
1/1 [==============================] - 0s 60ms/step - loss: 0.4411 - accuracy: 0.9310 - val_loss: 0.6486 - val_accuracy: 0.7500
Epoch 15/20
1/1 [==============================] - 0s 49ms/step - loss: 0.4204 - accuracy: 0.9310 - val_loss: 0.6399 - val_accuracy: 0.7500
Epoch 16/20
1/1 [==============================] - 0s 48ms/step - loss: 0.3983 - accuracy: 0.9310 - val_loss: 0.6316 - val_accuracy: 0.7500
Epoch 17/20
1/1 [==============================] - 0s 50ms/step - loss: 0.3757 - accuracy: 0.9310 - val_loss: 0.6243 - val_accuracy: 0.7500
Epoch 18/20
1/1 [==============================] - 0s 48ms/step - loss: 0.3533 - accuracy: 0.9310 - val_loss: 0.6193 - val_accuracy: 0.7500
Epoch 19/20
1/1 [==============================] - 0s 37ms/step - loss: 0.3308 - accuracy: 0.9310 - val_loss: 0.6167 - val_accuracy: 0.7500
Epoch 20/20
1/1 [==============================] - 0s 38ms/step - loss: 0.3085 - accuracy: 0.9310 - val_loss: 0.6141 - val_accuracy: 0.7500
1/1 [==============================] - 0s 74ms/step
Accuracy: 0.7
Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.67      0.73         6
           1       0.60      0.75      0.67         4

    accuracy                           0.70        10
   macro avg       0.70      0.71      0.70        10
weighted avg       0.72      0.70      0.70        10

In [139]:
#It would go here:

# Drop unnecessary columns from place_df
place_df_features = place_df.drop(columns=['address', 'weblink', 'price', 'age'])

#STandardize here with drop
# Standardize features
place_df_features_scaled = scaler.transform(place_df_features.drop(columns=['place_id','name']))

# Use the trained model to predict acceptance probabilities
acceptance_probabilities = model.predict(place_df_features_scaled)

# Add the predicted probabilities to place_df_features
place_df_features['acceptance_probability'] = acceptance_probabilities

# Sort by acceptance probability in descending order
top_locations = place_df_features.sort_values(by='acceptance_probability', ascending=False)

# Display the top locations
print(top_locations[['name', 'acceptance_probability']].tail(500))

158/158 [==============================] - 0s 2ms/step
                                                   name  \
2335                        Ducks Breakaway Bar & Grill
2352  K1 Paddock Lounge - Sports Bar & Restaurant - ...
4940                  Rancho San Joaquin Golf Clubhouse
4748                             Trevor's at the Tracks
1544                                      El Pollo Loco
...                                                 ...
1079                                        Class of 47
4745                                          Roost 374
550                                               Perqs
866                                          Beach Ball
4747                               Dana Point Ale House

      acceptance_probability
2335                0.281349
2352                0.281312
4940                0.280884
4748                0.280453
1544                0.280444
...                      ...
1079                0.122613
4745                0.119196
550                 0.118622
866                 0.114755
4747                0.112910

[500 rows x 2 columns]